/*
*
* =================================================================
* SKIN 
* =================================================================
*
* Populate this file with the CSS of your custom design. 
* Include this file into the <head> area of your pages, after the style.css and any other css file.
*
*/

@font-face {
    font-family: 'Jost';
    src: url('media/fonts/Jost-Book.woff2') format('woff2'), url('media/fonts/Jost-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('media/fonts/Jost-Medium.woff2') format('woff2'), url('media/fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/* 

# ANIMATIONS E GLOBAL
===================================================================

*/

@keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes btn-text-anima {
    0% {
        right: -30px;
        opacity: 0;
    }
    60% {
        right: -40px;
        opacity: 1;
    }
    100% {
        right: -45px;
        opacity: 0;
    }
}

.animation-shake-vertical,
.img-box.btn-video,
.section-bottom-layer-2>.container>img,
.cnt-box-top .extra-field {
    animation: shake-vertical 15s ease-in-out infinite both;
}

.cnt-box-testimonials>img,
.controls-out.controls-bottom-right .glide__arrow,
.cnt-box.boxed,
.cnt-pricing-table,
.cnt-box-testimonials-bubble .thumb-bar img,
.cnt-box-testimonials-bubble>p,
.cnt-call,
.step-item>span,
.boxed-area,
.section-block-full>.container>.row>.col:first-child,
.tab-box .panel>img,
.tab-box.tab-vertical .tab-nav li.active a,
.timeline .panel,
.section-map>.container,
.form-search,
.list-nav,
.box-small>.img-box,
.menu-big-box .menu-box,
.shop-menu-cnt .shop-menu,
.search-box-menu>input[type=text],
.media-box-down.boxed,
.media-box-down .caption,
.table-full-border,
.cnt-box-team>img {
    border: 1px solid rgb(241, 240, 240);
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .1);
}

.slider-zoom-center:not(.slider-phones) .glide__slides .glide__slide--active {
    box-shadow: 0 3px 20px -2px rgba(9, 20, 43, 0.45);
    border-radius: 3px;
}


/* 

# COLORS
===================================================================

*/

.light .dropdown>ul>li:not(:hover)>a,
.dropdown>ul>li a,
nav:not(.light) a.btn-login.btn-border:hover {
    color: rgb(68, 68, 68) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.accordion-list>li>a,
.cnt-box-testimonials .testimonial-info span,
.cnt-box-testimonials-bubble .thumb-bar span,
.social-feed-fb .meta-header a,
.counter .value,
.glide__arrow,
.cnt-pricing-table .price,
.form-box p,
.input-text,
.input-select,
.input-textarea,
nav:not(.light) .menu-cnt>ul>li>a,
.table th,
.cnt-box-blog-side .icon-list a,
.cnt-box-blog-top .icon-list a,
.pagination li.page a,
.pagination li:not(.page) a,
.step-item>span,
.tab-box.tab-vertical>.tab-nav li.active a,
.tab-icon.tab-vertical>.tab-nav li:hover a,
.social-feed-fb .meta-header .date,
.box-sign b,
.timeline .badge p,
.menu-inner li>a,
.text-list-bold b,
.text-list-line li b,
.quote .quote-author,
.icon-list-horizontal,
.icon-list-horizontal a,
.quote,
p b,
.list-nav a,
.text-color,
.text-color p,
.cnt-pricing-table>ul>li,
nav .tab-nav li a,
nav .tab-nav li.active a,
nav .tab-nav li:hover a,
nav .tab-nav li:not(.active):not(:hover) a,
nav.light .col i,
.menu-cnt>ul .col li a,
.breadcrumb li a,
.countdown,
.media-box-down .caption h2,
.album-title,
.collapse-button a,
.search-bar input[type=submit],
.search-box-menu>i,
body>nav .icon-links a i,
.shop-menu-cnt>i:before,
.shop-menu-cnt .cart-total,
.menu-mini>.container>ul>li,
.menu-btn:before {
    color: rgb(18, 48, 74);
}

.accordion-list>li>a:before,
.cnt-box-badge .badge,
.cnt-box-blog-side .blog-date,
.cnt-box-blog-top .blog-date,
.cnt-box-top .extra-field,
.media-box-half .extra-field {
    background-color: rgb(18, 48, 74);
}

.glide__bullets>button:hover,
.glide__bullets>button.glide__bullet--active,
.pagination li.page:hover a,
.pagination li.page.active a,
.list-tags a,
.tagcloud a {
    background-color: rgb(18, 48, 74);
    border-color: rgb(18, 48, 74);
}

.glide__bullets>button,
.pagination li.page a {
    border-color: rgb(18, 48, 74);
}

body,
p,
input,
textarea,
 ::placeholder,
.tab-box.tab-vertical>.tab-nav li:not(.active):not(:hover) a,
body>header .container>h2 {
    color: rgb(88, 119, 144);
}

body>nav.light:not(.menu-transparent),
nav.light.menu-transparent.scroll-menu,
footer {
    background-color: rgb(55, 81, 126);
}

.boxed-area.light {
    background-color: rgb(55, 81, 126) !important;
    border: none;
}

.btn-video:after,
.btn-text,
.title h2 .dot,
[class^=col-]>h1 .dot,
[class^=col-]>h2 .dot,
.title h2 .dot,
.container>h2 .dot,
.container>h1 .dot,
.cnt-call h2 .dot,
.col h2 .dot,
.fixed-area>h2 .dot,
header h1 .dot,
.accordion-list>li:hover>a,
.cnt-box-top-icon>i,
.cnt-box-side-icon>i,
.btn.btn-border,
.cnt-pricing-table .top-area p,
.tab-nav li:not(.active):not(:hover) a,
.icon-links a i,
.media-box-reveal h3,
nav:not(.menu-transparent) .lan-menu>li:hover>a,
.pagination li:not(.page):not(.disabled) a:hover,
.counter .value span.text-md:last-child,
.tab-icon.tab-vertical>.tab-nav li.active a i,
.tab-icon.tab-vertical>.tab-nav li:hover a i,
.tab-vertical>.tab-nav li:hover a,
.meta-footer,
.form-search>div:before,
.cnt-box-side .extra-field,
nav .tab-nav li.active a,
nav .tab-nav li:hover a,
.menu-inner li:hover>a,
.menu-inner li.active>a,
a,
.mega-menu h5,
.search-box-menu>i:hover,
.mega-menu .icon-list li a:hover,
nav.active .menu-btn:before,
.text-list-side li div {
    color: rgb(71, 178, 228);
}

nav.light a.btn-border,
.dropdown>ul li:hover>a,
.dropdown>ul li.active>a,
.menu-cnt>ul>li:hover>a,
.menu-cnt>ul>li.active>a,
.light .counter h3,
.breadcrumb li:last-child a,
.breadcrumb li:hover a,
.menu-side-collapse .dropdown-submenu>a {
    color: rgb(71, 178, 228) !important;
}

.btn-text.btn-video:before,
.icon-circle li:before,
.icon-circle span:before,
.icon-line li:before,
.icon-line span:before,
.progress-bar>div>div,
.progress-bar>div span,
.breadcrumb li a:after,
.menu-inner li:before,
.counter-big.counter-icon .value span:last-child:before,
.cnt-box-team .caption h2:before,
.mega-menu .tab-nav a:after,
.shop-menu-cnt .cart-count {
    background-color: rgb(71, 178, 228);
}

.btn,
.tab-nav li.active a,
.tab-nav li:hover a,
.tab-nav.align-center li.active a,
.tab-nav.align-center li:hover a,
.icon-links-grid a:hover,
.icon-links-button a,
nav.light a.btn-border:hover,
.btn-border:hover,
.menu-transparent .btn:not(.btn-border) {
    background-color: rgb(71, 178, 228);
    border-color: rgb(71, 178, 228);
}

.light .btn-border {
    color: rgb(71, 178, 228) !important;
    border-color: rgb(71, 178, 228) !important;
}

.tab-nav li a,
.form-search:hover {
    border-color: rgb(71, 178, 228);
}

.pricing-table-big {
    border-top-color: rgb(71, 178, 228);
}

.icon-links a:hover i,
.icon-links-popup:hover>i,
.breadcrumb li:not(:last-child):hover a,
.search-bar input[type=submit]:hover,
.btn-text:hover,
.menu-inner .dropdown ul>li:hover>a,
.album-title>a:hover,
.glide__arrow:hover,
.list-nav a:hover,
.form-search>div:hover:before {
    color: rgb(58, 149, 191);
}

.btn:not(.btn-border):hover,
.icon-links-button a:hover {
    background-color: rgb(58, 149, 191);
}

.btn:not(.btn-border):hover,
.input-text:focus,
.input-select:focus,
.input-textarea:focus,
.search-bar input[type=text]:focus {
    border-color: rgb(58, 149, 191);
}

.light p,
.btn-border:hover,
.media-box-full .caption .extra-field,
.media-box-reveal p,
.light .accordion-list>li>a,
.media-box p {
    color: rgb(236, 245, 251) !important;
}

.input-text,
.input-select,
.input-textarea,
.table,
.table td,
.table th,
.accordion-list>li,
.menu-inner:not(.menu-inner-vertical) .dropdown ul,
.table:not(.table-grid) tr,
.footer-bar,
.menu-cnt.active,
.search-box-menu,
.section-block+.section-base,
.section-map+.section-base,
.table-border.table-full-sm tbody tr:last-child td:not(:last-child) {
    border-color: rgb(219, 222, 224);
}

body hr:not([class*=space]) {
    background-color: rgb(219, 222, 224);
}

main>section.section-base.section-color,
section.section-bottom-layer-color:after,
.section-color .cnt-box-team:not(.boxed) .caption,
.header-base {
    background-color: #F1F5F7;
}

.cnt-box.boxed .caption,
.cnt-box-side-icon.boxed>i,
.cnt-box-top-icon.boxed>i,
nav.menu-transparent:not(.light).scroll-menu,
.boxed-area {
    background-color: #fff;
}

.btn-border.light:not(:hover) {
    color: #fff !important;
    border-color: #fff !important;
}

.light .cnt-box-testimonials .testimonial-info span,
.media-box h2,
.list-tags a,
.tagcloud a,
.icon-links-grid a:hover i {
    color: #fff;
}

nav.light .menu-cnt a.btn:not(.btn-border) {
    color: #fff !important;
}

.dropdown>ul>li:hover>a,
.dropdown ul:not(.icon-list) li:hover>a,
nav .menu-cnt>ul>li:hover>a,
.lan-menu>li:hover>a {
    background: none;
}


/*

# CUSTOM 
===================================================================

*/

.themekit-envato.boxed-area .stars:before {
    top: 80px;
}

.themekit-envato.boxed-area.light {
    background-color: rgba(0, 0, 0, 0.27) !important;
    padding-top: 45px;
    padding-bottom: 45px;
}

.themekit-envato {
    display: flex;
}

.themekit-envato>div:first-child {
    margin-right: 40px;
}

.themekit-envato>div>h4 {
    color: rgb(13, 33, 49);
    font-weight: 500;
    font-size: 18px;
}

.themekit-envato h5 {
    color: rgb(13, 33, 49);
    font-size: 35px;
    line-height: 65px;
}

.themekit-envato .stars {
    margin-top: 50px;
}

.themekit-envato .stars:before {
    content: '';
    position: absolute;
    background: url(media/star.svg) repeat-x;
    background-size: 25px 25px;
    background-position: left center;
    width: 125px;
    height: 17px;
    top: 50px;
}

.themekit-envato .stars label {
    font-size: 13px;
    display: block;
}

.counter-big.counter-icon>i {
    font-size: 220px;
    opacity: .2;
}

.counter-big.counter-icon .value {
    font-weight: 500;
}

.counter-big.counter-icon .value span:last-child {
    font-size: 30px;
    padding-right: 10px;
    position: relative;
}

.counter-big.counter-icon .value span:last-child:before,
.cnt-box-team .caption h2:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    bottom: 9px;
    border-radius: 50%;
}

.box-small.cnt-box-side {
    overflow: visible;
}

.box-small.cnt-box-side>.img-box {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.box-small.cnt-box-side>.img-box img {
    max-width: 100% !important;
    margin: 0 !important;
}

.box-small.cnt-box-side>.img-box:before {
    display: none;
}

section.boxed-page,
section.boxed-page.section-base {
    background-color: rgb(241, 245, 247);
    overflow: visible;
    padding-bottom: 130px;
}

section.boxed-page:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(100% - 30px);
    max-width: 1200px;
    border: 1px solid rgb(241, 240, 240);
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .1);
    border-radius: 6px;
    overflow: visible;
    transform: translateX(-50%);
    left: 50%;
    top: -60px;
    background: rgb(255, 255, 255);
}

section.boxed-page>.container {
    padding-top: 0;
    padding-bottom: 20px;
}

body>header.boxed-page-header {
    height: 560px;
}

body>header.boxed-page-header>.container {
    padding-bottom: 60px;
}

.form-search {
    border-radius: 3px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all .5s;
}

.form-search input[type=text] {
    border: none;
    line-height: 35px;
    outline: none;
    width: 100%;
}

.form-search input[type=submit] {
    z-index: 2;
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.form-search>div {
    position: relative;
    cursor: pointer;
}

.form-search>div:before {
    font-family: "Icons";
    content: "\61";
    font-style: normal;
    text-transform: none;
    position: absolute;
    z-index: 1;
    right: 0px;
    line-height: 35px;
}

.box-sign {
    position: relative;
}

.box-sign b {
    font-weight: 500;
    position: absolute;
    bottom: 25px;
    left: 125px;
}

.box-sign span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 110px;
    font-size: 12px;
}

p+.box-sign {
    margin-top: 30px;
}

.section-ovarlay-image:before {
    content: '';
    background-image: url(media/saas/overlay-1.svg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1400px;
    height: 500px;
    position: absolute;
    bottom: 277px;
    left: 50%;
    transform: translateX(-50%);
}

.gap-60>div {
    grid-gap: 60px;
}

.text-list-base li>h3 {
    font-size: 20px;
    margin-bottom: 9px;
}

i.icon-check,
i.icon-check-gray,
.cnt-pricing-table>ul>li:before {
    content: '';
    background-image: url(media/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}

i.icon-photo:before,
.icon-photo i:before {
    content: '';
    background-image: url(media/photo-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

i.icon-check-gray {
    background-image: url(media/check-gray.svg);
}

.table-price tbody td,
.table-price thead th {
    text-align: center;
    vertical-align: middle;
}

.table-price tbody tr td:first-child,
.table-price thead tr:first-child th:first-child {
    min-width: 50%;
    width: 50%;
    text-align: left;
}

@media (min-width: 992px) {
    .pagination-top-right,
    .pagination-bottom-right {
        position: relative;
    }
    .pagination-top-right .list-pagination,
    .pagination-bottom-right .list-pagination {
        position: absolute;
        top: -105px;
        right: 0;
        padding: 0;
        z-index: 9;
    }
    .pagination-top-right .list-pagination .pagination,
    .pagination-bottom-right .list-pagination .pagination {
        margin-top: 0;
    }
    .pagination-bottom-right .list-pagination {
        top: auto;
        bottom: 90px;
        left: calc(100% + 45px);
    }
    .pagination-bottom-right .list-pagination .prev {
        display: none;
    }
    .grid-wall-1 .grid-box>div:nth-child(1) {
        margin-top: 25px;
    }
    .grid-wall-1 .grid-box>div:nth-child(2) {
        margin-top: 95px;
    }
    .col-lg-3+.col-lg-6 .grid-wall-1 .grid-box>div:nth-child(2) {
        margin-top: 75px;
    }
    .grid-wall-1 .grid-box>div:nth-child(3) {
        position: absolute;
        max-width: 300px;
        box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .2);
        left: 50%;
        margin-left: -150px;
        animation: shake-vertical 11s ease-in-out infinite both;
    }
    .grid-wall-1 .grid-box>div:nth-child(4) {
        position: absolute;
        max-width: 150px;
        box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .2);
        bottom: 0;
        left: 60px;
        animation: shake-vertical 15s ease-in-out infinite both;
    }
}

.grid-wall-2 {
    height: 400px;
    margin: 50px 0 70px 0;
    position: relative;
}

.grid-wall-2 .grid-box>div {
    position: absolute;
}

.grid-wall-2 .grid-box>div:nth-child(1) {
    left: 290px;
    bottom: -70px;
    width: 300px;
    z-index: 0;
    animation: shake-vertical 8s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(2) {
    left: 242px;
    top: -50px;
    width: 200px;
    animation: shake-vertical 15s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(3) {
    left: 0;
    top: 71px;
    width: 225px;
    animation: shake-vertical 11s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(4) {
    left: 80px;
    bottom: 0;
    width: 200px;
    animation: shake-vertical 20s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(5) {
    right: 100px;
    width: 200px;
    z-index: 5;
    animation: shake-vertical 8s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(6) {
    right: 0;
    top: 160px;
    width: 250px;
    z-index: 5;
    animation: shake-vertical 20s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(7) {
    right: 258px;
    bottom: -28px;
    width: 145px;
    animation: shake-vertical 12s ease-in-out infinite both;
}

.grid-wall-2 .grid-box>div:nth-child(8) {
    right: 310px;
    top: -28px;
    width: 260px;
    z-index: 7;
    animation: shake-vertical 11s ease-in-out infinite both;
}

.grid-wall-2+div {
    position: relative;
    top: -265px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .2);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 60px;
    z-index: 15;
    margin-bottom: calc(-50% + 200px);
}

.btn-store {
    display: inline-block;
    margin-top: 10px;
}

.btn-store img {
    width: 100%;
    max-width: 130px;
    transition: all .5s;
}

.btn-store+.btn-store {
    margin-left: 15px;
}

.col-lg-6>.btn-store img {
    max-width: 165px;
}

.margin-23 {
    margin-left: -23px;
    margin-bottom: -23px;
}

.margin-11 {
    margin-left: -11px;
    margin-bottom: -11px;
}

.col-lg-6+.col-lg-6 .margin-23 {
    margin-left: 20px;
}

.col-lg-6+.col-lg-6 .margin-11 {
    margin-left: 20px;
}

.slider-zoom-center {
    margin: -27px 0 5px 0;
}

.slider-zoom-center .glide__slides {
    padding: 77px 0;
}

.slider-zoom-center .glide__slide {
    transition: all .5s;
}

.slider-zoom-center .glide__slides .glide__slide--active {
    transform: scale(1.5);
    z-index: 9;
}

.slider-zoom-center .glide__bullets {
    bottom: 0;
}

.slider-phones .glide__slide--active>img {
    margin: 25px 15px 15px 15px;
    width: auto;
    max-width: calc(100% - 30px) !important;
}

.table-auto {
    width: auto;
}

.table-auto td {
    min-width: 158px;
}

.shadow-1 {
    box-shadow: 0 3px 30px -2px rgba(20, 45, 100, .25);
}

.space-40 {
    height: 40px;
    max-height: 40px;
}

.space.space-70 {
    height: 70px;
    max-height: 70px;
}

.space.space-85 {
    height: 85px;
    max-height: 85px;
}

.space-20 {
    height: 20px;
    max-height: 20px;
}

.space-25 {
    height: 25px;
    max-height: 25px;
}

.width-650,
.width-750 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.width-750 {
    max-width: 750px;
}

.width-min-900 {
    min-width: 900px;
}

.width-min-835 {
    min-width: 835px;
}

.btn-login.btn-border,
nav a.btn-login.btn-border:hover {
    background: none;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.15) !important;
    padding-left: 35px;
    border-radius: 0;
    font-weight: 500;
    box-shadow: none;
}

.btn-text.btn-video {
    display: inline-block;
    padding: 0 0 0 50px;
}

.btn-text.btn-video:before {
    top: 50%;
    margin-top: -41px;
    margin-left: -44px;
    height: 80px;
    border-radius: 50%;
    left: 15px;
}

.btn-text.btn-video:after {
    top: -13px;
    left: 15px;
}

section.section-top-overflow {
    overflow: visible;
}

section.section-top-overflow>.container {
    transform: translateY(-100px);
    margin-bottom: -100px;
}

[data-parallax]+.section-top-overflow>.container {
    padding-top: 0;
}

.section-bottom-layer {
    padding-bottom: 100px;
}

.section-bottom-layer:after,
.section-bottom-layer-2:after {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgb(255, 255, 255);
}

.section-bottom-layer>.container>.row>.col-lg-6,
.section-bottom-layer>.container>.row>.col-lg-6 {
    z-index: 2;
}

.section-bottom-layer:not([class*=section-full-width-])>.container>.row>.col-lg-6>img {
    position: absolute;
}

.section-bottom-layer.section-color-layer:after {
    background-color: rgb(241, 245, 247);
}

.section-bottom-layer+section>.container {
    padding-top: 0;
}

.section-bottom-layer-2>.container {
    padding-bottom: 0;
}

.section-bottom-layer-2:after {
    height: 300px;
}

.section-bottom-layer-2>.container>img {
    position: relative;
    max-width: 1200px;
    margin: 0 -50px;
    z-index: 5;
}

ul .icon-list.icon-list-11 li {
    margin-bottom: 11px;
}

@media (min-width: 576px) {
    .controls-top-right {
        margin-bottom: 0;
    }
    .controls-top-right .glide__bullets {
        bottom: auto;
        top: -65px;
        right: -5px;
        left: auto;
        justify-content: flex-end;
    }
}

@media (min-width: 992px) {
    .controls-bottom-right.controls-out .glide__arrow {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        background-color: #FFF;
    }
    .controls-bottom-right.controls-out .glide__arrow:before {
        line-height: 40px;
        width: 40px;
        font-size: 20px;
    }
    .controls-bottom-right.controls-out {
        margin-bottom: 0;
    }
    .controls-bottom-right .glide__bullets {
        justify-content: flex-start;
        bottom: 4px;
        right: -227px;
        left: auto;
        width: 200px;
    }
    .controls-bottom-right .glide__arrow {
        bottom: 0;
        top: auto;
    }
    .controls-bottom-right .glide__arrow--right {
        right: -120px;
    }
    .controls-bottom-right .glide__arrow--left {
        left: auto;
        right: -70px;
    }
    .controls-bottom-right[data-options*="arrows"] .glide__bullets {
        right: -335px;
        bottom: 14px;
    }
    .controls-bottom-right .glide__arrow:hover:before {
        margin: 0;
    }
    .controls-top-left .glide__bullets {
        justify-content: flex-start;
        top: -50px;
        left: -3px;
        width: 200px;
        height: 15px;
    }
}

@media (min-width: 992px) {
    .slider-side {
        margin-bottom: 0;
        margin-left: 45px;
        width: calc(100% - 45px);
    }
    .slider-side .glide__bullets {
        flex-direction: column;
        top: 0;
        left: -45px;
        height: 100%;
        width: 10px;
    }
    .slider-side .glide__bullets>button {
        display: block;
        margin: 8px 0;
    }
}


/*

# LAYOUT & TYPOGRAPHY
===================================================================

*/

body,
textarea {
    font-family: 'Jost', sans-serif;
    line-height: 30px;
    font-size: 17px;
    font-weight: 400;
}

button,
.input-text,
.input-select,
.input-textarea {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
}

h1,
h2 {
    font-weight: 900;
}

h1 {
    font-size: 45px;
    line-height: 65px;
}

h1+p,
h2+p,
h3+p,
h4+p,
h2+h4,
h1+h4,
h2+ul.icon-list,
h3+ul.icon-list,
p+h3,
p+.btn,
p+h4,
h4+.btn,
h4+.btn-text,
h4+input,
h4+select,
h4+textarea,
p+ul.icon-list,
p+.btn-text,
p+table,
p+pre,
p+img,
p+.row,
p+.img-box,
p+.media-box,
p+.cnt-box,
p+.icon-links,
p+ul.icon-list,
.container>.row+.row,
.container>div+p,
p+.text-list,
.container>div+.btn,
.table+.btn,
.table+.btn-text,
h4+div,
h4+ul,
h4+ul.icon-list,
h4+a,
.slimScrollDiv+.btn,
h3+.grid-list,
h3+.slider,
.text-list+.btn,
.text-list+.btn-text {
    margin-top: 30px;
}

h3+h1 {
    margin-top: 10px;
}

h1+p+.btn,
h1+p+a {
    margin-top: 45px;
}

[class*=col-lg-]>p+p {
    margin-top: 25px;
}

p+.icon-list+a,
h2+p+.btn,
h2+p+.table+a.btn,
h2+p+.table+a.btn+a.btn {
    margin-top: 40px;
}

.text-bold,
b {
    font-weight: 500 !important;
}

[class*=col-lg-]>h3,
.boxed-area>h3,
.container>h3 {
    font-weight: 500;
    font-size: 21px;
}

.container>h2 {
    line-height: 37px;
}

.widget>h3 {
    font-size: 18px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-right: 15px;
    padding-left: 15px;
}

[class*=col-lg]>img {
    border-radius: 3px;
}

.text-xs {
    line-height: 22px;
    opacity: .8;
}

.title h2,
[class^=col-]>h2,
.container>h2,
.cnt-call .caption h2,
.col h2,
.fixed-area>h2 {
    line-height: 45px;
    font-size: 30px;
    font-weight: 500;
}

.title h2 .dot,
[class^=col-]>h1 .dot,
[class^=col-]>h2 .dot,
.container>h2 .dot,
.container>h1 .dot,
.cnt-call h2 .dot,
.col h2 .dot,
header h1 .dot,
.fixed-area>h2 .dot {
    font-size: 43px;
    line-height: 10px;
    display: inline-block;
    padding-left: 5px;
}

.title {
    margin-bottom: 25px;
    margin-top: 30px;
}

.title>p {
    position: absolute;
    top: -35px;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.quote .quote-author,
p b,
.cnt-box-side .extra-field,
.breadcrumb li:last-child a,
.countdown [data-time]>div>span:first-child,
.album-title,
.counter .text-lg,
.text-list-bold b,
.text-list-line li b,
.table th,
.form-box p,
.cnt-pricing-table .top-area p,
.btn:not(.btn-border),
.pagination li.page a,
.pagination li:not(.page) a,
.collapse-button a,
.search-bar input[type=submit],
.shop-menu-cnt .cart-total {
    font-weight: 500;
}

.quote {
    font-weight: 500;
    padding: 0 0 0 50px;
    background: none;
}

.quote:before,
.quote.quote-double:after {
    font-size: 22px;
    line-height: 34px;
    left: 0;
    opacity: 1;
}

hr:not([class*=space]) {
    margin: 60px 0;
}


/*

# NAV MENU
===================================================================

*/

.menu-mini>.container>ul>li {
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.menu-fixed:not(.menu-transparent)+header,
.menu-fixed:not(.menu-transparent)+main {
    margin-top: 60px;
}

.shop-menu .cart-buttons a {
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}

.cart-item h5,
.shop-menu-cnt .cart-total {
    font-size: 15px;
}

.menu-fixed.menu-subtitle:not(.menu-transparent)+header {
    margin-top: 70px;
}

.menu-side-collapse .menu-cnt>ul>li>a {
    height: 40px;
    line-height: 40px;
}

.menu-side-collapse .icon-list li a {
    padding-left: 0;
}

.menu-side-collapse .dropdown ul>li>a {
    padding-left: 5px;
    padding-right: 5px;
}

.menu-side-collapse .dropdown-submenu>ul {
    padding: 0;
}

.menu-side-collapse .mega-menu .tab-nav a:after {
    bottom: -3px;
}

@media (min-width: 993px) {
    .menu-icon.menu-icon-top .menu-cnt>ul>li>a {
        line-height: 45px;
    }
    .menu-top-logo>.container>.menu-brand,
    .menu-top-logo .menu-right {
        transform: translateY(calc(-50% - 30px));
    }
    body>nav.menu-top-logo .menu-brand {
        height: 75px;
    }
    .menu-top-logo>.container:before {
        display: none;
    }
    .menu-top-logo .menu-cnt>ul>li:first-child>a {
        padding-left: 0;
    }
}

.menu-fixed.menu-icon:not(.menu-transparent)+header {
    margin-top: 75px;
}

.search-bar input[type=text] {
    border: none;
}

.menu-big-box .menu-box {
    background: #FFF;
}

nav .tab-nav li a,
nav .tab-nav li.active a,
nav .tab-nav li:hover a {
    background: none;
    border: none;
    padding: 0;
}

.menu-icon .menu-cnt>ul>li>a,
.menu-icon .lan-menu>li>a {
    height: 75px;
    line-height: 75px;
}

body>nav.menu-icon .menu-brand {
    height: 75px;
    padding: 20px 0;
}

.menu-icon .menu-right {
    height: 75px;
}

.menu-subtitle .menu-cnt>ul>li>a {
    line-height: 50px;
}

.menu-subtitle .menu-cnt li a span {
    letter-spacing: .5px;
    color: rgb(122, 137, 144);
}

.menu-subtitle.light .menu-cnt li a span {
    color: rgb(174, 198, 210);
}

.menu-cnt>ul>li>a,
.dropdown>ul>li>a,
.dropdown-submenu>ul>li>a,
nav .col a {
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    letter-spacing: .3px;
}

body>nav .menu-brand {
    height: 60px;
    padding: 15px 0;
}

.menu-right {
    height: 60px;
}

nav .btn {
    font-size: 14px;
    letter-spacing: .3px;
    white-space: nowrap;
    margin-top: 0 !important;
}

.dropdown>ul,
.dropdown-submenu>ul,
nav .mega-menu {
    background: rgb(255, 255, 255);
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 1, 0, 0) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 25px 0px, rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
}

.dropdown>ul>li>a,
.dropdown-submenu>ul>li>a,
.lan-menu .dropdown>ul li a,
nav .col li a {
    height: 35px;
    line-height: 35px;
}

.lan-menu .dropdown>ul {
    max-width: none;
}

.dropdown>ul:before {
    content: '';
    vertical-align: middle;
    border-bottom: 10px solid #fff;
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: -20px;
    height: 21px;
    left: 32px;
    width: 10px;
    margin-left: -5px;
    z-index: 9;
}

.dropdown>ul,
.dropdown-submenu>ul {
    min-width: 180px;
}

nav.scroll-menu,
nav:not(.menu-transparent) {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
}

.lan-menu li a {
    font-weight: 500;
    text-align: left;
}

.lan-menu li a img {
    margin-top: -7px;
}

.menu-right>.menu-custom-area:first-child {
    margin-left: 30px;
}

nav .mega-menu ul.icon-list li {
    margin-bottom: 0;
    padding-left: 0;
}

.mega-menu .tab-nav {
    margin: 30px 20px 0 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.mega-menu .tab-nav a:after {
    content: "";
    height: 1px;
    width: 0%;
    position: absolute;
    bottom: -26px;
    left: 0;
    transition: all.5s;
}

.mega-menu .tab-nav .active a:after,
.mega-menu .tab-nav li:hover a:after {
    width: 100%;
}

.mega-menu .col>h5 {
    padding: 0 5px;
}

.mega-menu .icon-list li>i {
    display: none;
}


/*

# FOOTER
===================================================================

*/

.footer-parallax,
.footer-bar {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}

footer .menu-inner li {
    position: relative;
    transition: all .5s;
    display: inline-block;
    clear: both;
    float: left;
}

footer .menu-inner li>a {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    opacity: .7;
}

.footer-bar>.container {
    opacity: .7;
}

.footer-bar img {
    height: 20px;
    margin-top: 5px;
}


/*

# HEADERS
===================================================================
*/

.header-base .breadcrumb {
    top: 50px;
}

.menu-fixed.menu-big-box:not(.menu-transparent)+header {
    margin-top: 100px;
    padding-top: 40px;
    height: 240px;
}

.menu-transparent+.header-base {
    height: 300px;
}

.menu-transparent+.header-base h1 {
    margin-top: 15px;
}

body>header.header-base h1 {
    font-size: 43px;
    line-height: 50px;
}

body>header.header-base .container>h2 {
    font-size: 18px;
}

body>header.align-center .breadcrumb {
    position: absolute;
    top: 20px;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
}

body>header.align-center .container>h2 {
    margin-top: 25px;
}

body>header.align-center .container>h1 {
    margin-top: 60px;
}

body>header {
    height: 450px;
}

body>header h1 {
    font-size: 55px;
    font-weight: 500;
}

body>header .container>h2 {
    line-height: 30px;
    font-size: 14px;
    letter-spacing: .5px;
    max-width: 570px;
}

body>header .breadcrumb {
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    top: 15px;
}

.breadcrumb li a {
    font-weight: 500;
    transition: .5s all;
}

.breadcrumb li a:after {
    width: 5px;
    height: 5px;
    margin-top: -2px;
    opacity: 1;
    right: -3px;
    transform: none;
    border-radius: 50%;
}

.menu-fixed.menu-transparent+header .container {
    padding-top: 30px;
}


/*

# COMPONENTS
===================================================================
*/

.media-box-down {
    margin-bottom: 0;
}

.media-box-down .caption {
    background: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 6px;
    bottom: 20px;
    right: -50px;
    left: auto;
    z-index: 9;
    text-align: left;
    max-width: 250px;
}

.media-box-down .caption p {
    color: rgb(88, 119, 144) !important;
}

.media-box-down .caption h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.media-box-down:before {
    background: rgba(53, 79, 129, 0.21);
}

.media-box-down:after {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.media-box-down:hover .caption {
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.23);
}

.counter [data-to].text-md {
    font-weight: 500;
    font-size: 32px !important;
}

.list-nav {
    padding: 5px;
    border-radius: 3px;
    display: inline-flex;
    margin-top: -1px;
    max-width: 100%;
}

.list-nav a:not(.list-archive) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    white-space: nowrap;
}

.icon-list-horizontal a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
}

.text-list-side li {
    justify-content: flex-start;
    border-bottom: 1px solid rgb(219, 222, 224);
    padding-bottom: 30px;
}

.text-list-side li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.text-list-side li div {
    white-space: nowrap;
    right: 0;
    top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
}

.text-list-side.boxed-area {
    padding: 30px;
}

.text-list-side h3 {
    font-size: 17px;
}

.menu-inner li>a {
    font-weight: 500;
    font-size: 15px;
}

.menu-inner-image li a {
    height: auto;
    line-height: 25px;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-weight: 500;
}

.menu-inner-image li img {
    top: 2px;
}

.menu-inner-image li a span {
    margin-bottom: 10px;
}

.menu-inner-image li img {
    height: 65px;
    max-height: 65px;
    max-width: 65px;
}

.menu-inner-image li>a {
    min-height: 66px;
}

.menu-inner-vertical li.dropdown>ul {
    padding: 0;
}

.menu-inner-vertical .dropdown li:before {
    left: 15px;
    max-width: calc(100% - 25px);
}

.menu-inner-vertical li.dropdown.active:before {
    display: none;
}

.menu-inner:not(.menu-inner-vertical) .dropdown>ul:before {
    display: none;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.col-lg-8 .timeline {
    grid-template-columns: 1fr 1fr;
}

.timeline .panel {
    width: auto;
    padding: 30px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.timeline h3+p {
    margin-top: 15px;
}

.timeline>div {
    margin-bottom: 0;
    margin-top: 90px;
}

.timeline .badge {
    left: 30px;
    top: -120px;
}

.timeline .badge span {
    white-space: nowrap;
}

.timeline .badge p {
    font-weight: 500;
    margin: 30px 0 5px 0;
}

.timeline>div.inverted .panel {
    margin-left: 0;
}

.timeline>div.inverted {
    margin-top: 0;
    margin-bottom: 90px;
}

.timeline>div.inverted .badge {
    left: 30px;
    right: auto;
    top: auto;
    bottom: -100px;
}

.glide__slide .timeline .panel {
    margin-bottom: 20px;
}

.social-feed-fb .meta-header .date {
    font-size: 16px;
}

.social-feed-fb li {
    font-size: 16px;
}

.social-feed-fb.no-images li .image {
    display: none;
}

.social-feed-fb .meta-header a {
    font-weight: 500;
    font-size: 17px;
}

.social-feed-fb .message {
    margin: 15px 0;
}

.comment-list li {
    padding: 15px 0;
    border-radius: 0;
    background: rgba(255, 255, 255, 0);
}

.comment-list li+li {
    padding: 15px 20% 15px 0;
    border-radius: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.11);
    background: rgba(255, 255, 255, 0);
    font-size: 14px;
}

.progress-bar>div span {
    padding: 0 11px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .5px;
    top: -45px;
}

.progress-bar>div {
    background: rgba(177, 177, 177, 0.35);
    height: 2px;
}

.light .progress-bar>div {
    background: rgba(255, 255, 255, 0.35);
}

.progress-bar>div>div {
    height: 6px;
    transform: translateY(-2px);
}

.progress-bar>div,
.progress-bar>div>div {
    margin-top: 0;
}

.cnt-box-top .extra-field {
    position: absolute;
    top: 15px;
    right: 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .5px;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    border-radius: 18px;
}

.cnt-box-top:hover .img-box img {
    opacity: 1;
}

.cnt-box-top .img-box:before {
    display: none;
}

.tweet-cnt {
    margin-bottom: 0;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 30px;
    margin: 0 10px 10px 0;
    border: 1px solid rgb(241, 240, 240);
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .1);
    overflow: hidden;
}

.media-box .caption p {
    line-height: 25px;
}

.media-box,
.media-box img,
.media-box-down:before,
.media-box-down:after {
    border-radius: 5px;
}

.media-box-reveal h2 {
    color: #fff;
}

.media-box-reveal h3 {
    margin-bottom: 15px;
}

.media-box-reveal .caption h2 {
    margin-bottom: 0;
}

.media-box-reveal .caption {
    height: 110px;
}

.media-box-half .caption {
    overflow: visible;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 65%);
}

.media-box-half .extra-field {
    position: absolute;
    top: -20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 10px;
    padding: 0 15px;
    border-radius: 3px;
}

.text-list-image li>img {
    width: 80px;
    height: 80px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.15);
}

.cnt-call {
    background-color: #fff;
    border-radius: 6px;
    text-align: left;
}

.cnt-box .caption h2 {
    line-height: 35px;
}

.cnt-call.cnt-box .caption .btn {
    margin: 0;
    position: absolute;
    right: 60px;
    top: 50%;
    margin-top: -26px;
}

.cnt-call>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}

.cnt-call i+.caption {
    padding-left: 100px;
}

.cnt-call .caption {
    padding-right: 250px;
}

.cnt-box-blog-side .icon-list,
.cnt-box-blog-top .icon-list {
    margin-left: -30px;
    padding-left: 27px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(10, 70, 103, 0.18);
}

.cnt-box-blog-side,
.cnt-box-blog-top {
    transition: all .5s;
}

.cnt-box-blog-top .icon-list {
    margin-top: 24px;
}

.cnt-box-blog-side .blog-date,
.cnt-box-blog-top .blog-date {
    margin: 15px;
    border-radius: 3px;
    overflow: hidden;
    font-weight: 700;
}

.cnt-box-blog-side .blog-date span:last-child,
.cnt-box-blog-top .blog-date span:last-child {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.cnt-box-blog-side .icon-list a,
.cnt-box-blog-top .icon-list a {
    font-weight: 500;
    font-size: 13px;
}

.cnt-box-blog-side .blog-date span:first-child,
.cnt-box-blog-top .blog-date span:first-child {
    padding: 13px 0 0 0;
    font-weight: 500;
    font-size: 18px;
}

.cnt-box-blog-side .icon-list .icon-links i,
.cnt-box-blog-top .icon-list .icon-links i {
    font-size: 15px;
}

.cnt-box-blog-side h2,
.cnt-box-blog-top h2 {
    line-height: 35px;
}

.cnt-box-blog-side .blog-date,
.cnt-box-blog-top .blog-date {
    height: 75px;
}

.cnt-box-team {
    padding-bottom: 90px;
}

.cnt-box-team.boxed {
    padding-bottom: 110px;
    background: rgb(255, 255, 255);
}

.cnt-box-team:hover img {
    box-shadow: none;
}

.cnt-box-team.boxed img,
.glide__slide .cnt-box-team>img {
    box-shadow: none;
    border: none;
}

.cnt-box-team.cnt-box .caption p {
    font-size: 16px;
    line-height: 28px;
}

.cnt-box-team .caption {
    overflow: visible;
    height: 90px;
    padding-top: 5px;
}

.cnt-box-team:hover .caption {
    height: 215px;
    padding-top: 20px;
}

.cnt-box-team.boxed .caption {
    height: 110px;
    padding: 19px 25px;
}

.cnt-box-team .caption>span:not(.icon-links) {
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
}

.cnt-box-team .icon-links {
    opacity: 0;
}

.cnt-box-team:hover .icon-links {
    opacity: 1;
}

.cnt-box-team.boxed:hover .caption {
    height: 255px;
}

.cnt-box-team .caption h2 {
    position: relative;
    display: inline-block;
    line-height: 29px;
    padding-right: 12px;
    margin-bottom: 0;
}

.cnt-box-team .caption h2:before {
    bottom: 9px;
}

.cnt-box-team>img {
    border-radius: 5px;
    margin-bottom: 17px;
}

.light .table td,
.light .table th {
    border-color: rgba(219, 222, 224, 0.17);
}

.table td,
.table th {
    font-size: 16px;
}

.media-box-full .caption {
    background-color: rgba(0, 0, 0, 0.16);
    justify-content: flex-start;
}

.media-box-full .caption h2 {
    font-size: 17px;
    margin-bottom: 0;
}

.media-box-full .caption .extra-field {
    font-size: 10px;
    line-height: 15px;
}

.media-box-full .caption:after {
    content: '';
    background-image: url(media/play.svg);
    background-size: contain;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 25px;
    z-index: 2;
}

.cnt-pricing-table {
    padding: 25px 0;
    border-radius: 6px;
    background-color: #FFF;
    text-align: left;
}

.pricing-table-big {
    padding: 45px 0;
    border-top-style: solid;
    border-top-width: 2px;
}

.cnt-pricing-table>ul>li {
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 16px;
    padding: 10px 40px 10px 80px;
}

.cnt-pricing-table .top-area,
.cnt-pricing-table .bottom-area {
    padding: 40px;
}

.cnt-pricing-table>ul>li:last-child {
    border-bottom: none;
}

.cnt-pricing-table>ul>li:before {
    position: absolute;
    left: 40px;
    width: 14px;
    height: 14px;
    top: 16px;
}

.cnt-box-testimonials .testimonial-info {
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 70px;
}

.cnt-box-testimonials .testimonial-info span {
    display: block;
}

.cnt-box-testimonials .testimonial-info span:first-child,
.cnt-box-testimonials-bubble .thumb-bar span:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 4px;
}

.cnt-box-testimonials>img {
    margin: 0 0 20px 0;
}

.cnt-box-testimonials[class*=rating-]>p:not(.testimonial-info):before,
.cnt-box-testimonials-bubble[class*=rating-]>.thumb-bar span:first-child:before {
    content: '';
    position: absolute;
    background: url(media/star.svg) repeat-x;
    background-size: 17px 17px;
    background-position: left center;
    width: 84px;
    height: 17px;
    bottom: 0px;
}

.cnt-box-testimonials-bubble[class*=rating-]>.thumb-bar span:first-child:before {
    right: 10px;
}

.cnt-box-testimonials[class*=rating-]>p:not(.testimonial-info) {
    margin-bottom: 30px;
}

.cnt-box-testimonials.rating-4>p:not(.testimonial-info):before,
.cnt-box-testimonials-bubble.rating-4>.thumb-bar span:first-child:before {
    width: 64px;
}

.cnt-box-testimonials-bubble {
    overflow: visible;
}

.cnt-box-testimonials-bubble .thumb-bar span:first-child {
    position: relative;
    display: block;
}

.cnt-box-testimonials-bubble .thumb-bar span:last-child {
    font-size: 14px;
}

.cnt-box-testimonials-bubble>p {
    background-color: #FFF;
    border-radius: 5px;
}

.cnt-box-testimonials-bubble .thumb-bar p {
    width: 100%;
}

.cnt-box-testimonials-bubble>p:after {
    border-right-color: #FFF;
}

.cnt-box-testimonials-bubble>p:before {
    position: absolute;
    bottom: -31px;
    left: 28px;
    content: '';
    display: block;
    border-width: 21px;
    border-style: solid;
    border-top-width: 3px;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(115, 115, 115, 0.1);
    filter: blur(6px);
}

.light .cnt-box-testimonials>img {
    border: none;
}

.btn:hover {
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, .15);
}

.btn-xs {
    padding: 2px 15px;
}

.btn-sm {
    font-size: 16px;
}

.btn-icon.btn-sm:not(.btn-anima),
.btn-icon.btn-sm.btn-anima:hover {
    padding-left: 70px;
}

.btn-icon.btn-sm i {
    font-size: 26px;
}

.btn-text {
    font-weight: 500;
    margin-right: 35px;
    position: relative;
}

.btn-text:not(.btn-video):hover:after,
.btn-text:not(.btn-video).active:after {
    animation: btn-text-anima 1s linear infinite;
}

.btn-text:not(.btn-video):after {
    font-family: "Icons";
    content: "\67";
    position: absolute;
    font-size: 25px;
    line-height: 32px;
    width: 30px;
    right: -40px;
    top: 0px;
    text-transform: none;
    opacity: 1;
    transition: all .3s;
}

.menu-transparent .btn:not(.btn-border) {
    color: #fff;
}

.cnt-box .caption p {
    font-size: 17px;
}

.cnt-box.boxed {
    border-radius: 5px;
    transition: all .5s;
}

.cnt-box.boxed:hover,
.btn-store:hover img {
    box-shadow: 0px 8px 20px -2px rgba(20, 45, 100, .15);
    margin-top: -10px;
    margin-bottom: 10px;
}

.table-full-border {
    background: rgb(255, 255, 255);
}

.table-full-border td {
    border-color: rgb(230, 237, 241);
}

.table-full-border td .counter .text-lg span {
    font-size: 35px;
}


/*

# CONTAINERS
===================================================================
*/

.col-lg-8+.col-lg-4>.slimScrollDiv>div {
    margin-top: -16px;
}

.section-color .scroll-box:after {
    background: linear-gradient(to top, rgb(241, 245, 247) 0%, rgba(0, 0, 0, 0) 100%);
}

.boxed-area {
    border-radius: 5px;
}

.col-lg-6 form.boxed-area .form-checkbox {
    width: 50%;
    line-height: 18px;
    float: right;
    margin-top: 5px;
    padding: 0 0 0 15px;
}

.glide__slide.glide__slide--active a.btn {
    transition: background-color .5s;
}

.step-item>span {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.step-item:before {
    top: 20px;
    background-color: rgb(200, 212, 218);
}

.step-item>.content>h3 {
    margin-bottom: 15px;
}

.box-steps-vertical>.step-item:before {
    left: 19px;
}

.list-pagination {
    padding-top: 60px;
}

.col-lg-6>.grid-list .list-pagination {
    padding-top: 30px;
}

.tab-nav {
    margin: 0 0 60px 0;
}

.tab-nav.align-center>li a {
    margin: 0;
    padding: 10px 80px 10px 30px;
    background-color: #fff;
}

.tab-nav.align-center>li+li a {
    margin-left: -53px;
}

.tab-nav.align-center>li:first-child a {
    margin-left: 0;
}

.tab-nav.align-center>li:last-child a {
    padding-right: 30px;
}

.tab-nav li a {
    border-radius: 30px;
}

.tab-box .panel>img {
    border-radius: 6px;
}

.tab-box.tab-vertical>.tab-nav li {
    transition: none;
}

.tab-box.tab-vertical>.tab-nav li a {
    border: none;
    background: none;
    font-weight: 500;
    line-height: 25px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    transition: none;
}

.tab-box.tab-vertical>.tab-nav li:not(:first-child).active {
    margin-top: 30px;
}

.tab-box.tab-vertical>.tab-nav li.active+li {
    margin-top: 30px;
}

.tab-box.tab-vertical>.tab-nav li.active a {
    background-color: #FFF;
}

.tab-icon.tab-vertical>.tab-nav a i {
    left: 23px;
    font-size: 30px;
}

.tab-box.tab-icon.tab-vertical>.tab-nav a {
    padding-left: 80px;
}

.tab-icon>.tab-nav li a {
    transition: all .5s;
}

.glide__bullets>button {
    background: none;
    border-style: solid;
    border-width: 1px;
}

.glide__slide .cnt-box.boxed,
.glide__slide .cnt-box.boxed:hover {
    margin: 10px 14px 14px 10px;
    transform: none;
}

.section-full-width-right>.container>.row>.col-lg-6:last-child>img {
    margin-left: 90px;
}

.section-full-width-left>.container>.row>.col-lg-6:first-child>img {
    margin-left: -45px;
    max-width: calc(100% - 45px);
}

.section-full-width>div>.glide--carousel .glide__slide>img {
    transition: all .5s;
}

.section-full-width>div>.glide--carousel .glide__slide:not(.glide__slide--active)>img {
    opacity: 0.7;
    transform: scale(.8);
}

.accordion-list>li,
.accordion-list>li:first-child {
    border: none;
}

.accordion-list>li>a {
    font-weight: 500;
    font-size: 16px;
    padding-left: 45px;
}

.accordion-list>li>a:before {
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    opacity: 1;
    border-radius: 3px;
    margin-top: -14px;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
}


/*

# RESPONSIVE
===================================================================

Large devices (desktops, less than 1200px)
-------------------------------------------------------------------
*/

@media (max-width: 1199.98px) {
    .counter h3,
    .counter .value {
        white-space: nowrap;
    }
    .section-full-width-left>.container>.row>.col-lg-6:first-child>img {
        max-width: 130%;
        position: absolute;
        right: 60px;
    }
    h1 br,
    h2 br {
        display: none;
    }
}


/*
Medium devices (tablets, less than 992px)
-------------------------------------------------------------------
*/

@media (max-width: 991.98px) {
    body>header .breadcrumb {
        justify-content: flex-start;
        position: static;
    }
    .margin-md-23,
    .col-lg-6+.col-lg-6 .margin-md-23 {
        margin: 0 -23px;
        max-width: calc(100% + 50px);
    }
    section .section-top-overflow>.container {
        transform: none;
        margin-bottom: 0;
    }
    section.section-top-overflow>.container {
        transform: none;
        margin-bottom: 0;
    }
    .section-bottom-layer:after,
    .section-bottom-layer-2:after,
    .controls-top-left .glide__bullets {
        display: none;
    }
    .section-bottom-layer {
        padding-bottom: 0;
    }
    .section-bottom-layer+section>.container {
        padding-top: 100px;
    }
    .section-bottom-layer:not([class*=section-full-width-])>.container>.row>.col-lg-6>img {
        position: static;
    }
    .btn-login.btn-border,
    nav a.btn-login.btn-border:hover {
        padding-left: 0;
    }
    .col-lg-6+.col-lg-6 .margin-11,
    .col-lg-6 .margin-11 {
        margin: 10px 0 0 -15px;
        max-width: calc(100% + 35px);
    }
    .menu-right>.menu-custom-area:first-child {
        margin-left: 15px;
    }
    .margin-23 {
        margin-bottom: 0;
    }
    .tab-box.tab-icon.tab-vertical>.tab-nav a {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tab-box.tab-icon.tab-vertical>.tab-nav a i {
        display: none;
    }
    .controls-out.controls-bottom-right .glide__arrow,
    .section-block-full>.container>.row>.col:first-child {
        box-shadow: none;
        border: none;
    }
    .section-bottom-layer-2>.container>img {
        max-width: 100%;
    }
    .section-full-width-right>.container>.row>.col-lg-6:last-child>img {
        margin-left: 0;
    }
    .section-full-width-left>.container>.row>.col-lg-6:first-child>img {
        max-width: 100%;
        margin: 0 auto;
        position: static;
    }
    .width-min-835,
    .width-min-900 {
        min-width: 0;
    }
    .menu-cnt>.menu-right {
        padding: 15px 0 15px 0;
    }
    .menu-right>.menu-custom-area {
        text-align: left;
    }
    .menu-cnt>ul {
        margin-top: 15px;
    }
    .dropdown>ul,
    .dropdown-submenu>ul,
    nav .mega-menu {
        padding: 10px;
    }
    .menu-cnt>ul>li>a,
    .dropdown>ul>li>a,
    .dropdown-submenu>ul>li>a,
    nav .col a {
        height: 50px;
        line-height: 50px;
    }
    .menu-subtitle.light .menu-cnt li a span {
        color: rgb(70, 92, 128);
    }
    .dropdown:hover>a:after,
    .menu-cnt li:hover>a:after {
        transform: translateY(-50%) rotate(90deg);
    }
    .lan-menu li a img {
        left: 1px;
    }
    body>nav .menu-brand,
    .menu-subtitle .menu-brand,
    body>nav.menu-icon .menu-brand {
        height: 50px;
        padding: 10px 0;
        margin-left: 30%;
    }
    .menu-fixed:not(.menu-transparent)+header,
    .menu-fixed:not(.menu-transparent)+main {
        margin-top: 50px;
    }
    .footer-bar>.container {
        display: flex;
        justify-content: space-between;
    }
    .footer-bar>.container>span:first-child {
        max-width: 75%;
        height: 29px;
        margin-right: 15px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .footer-bar>.container>span:last-child {
        display: block;
        height: 29px;
    }
    .cnt-call .caption {
        padding-right: 0;
    }
    .cnt-call.cnt-box .caption .btn {
        margin-top: 25px;
        position: static;
    }
    .grid-wall-2 {
        display: none;
    }
    .grid-wall-2+div {
        position: static;
        transform: none;
        padding: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
}


/*
Small devices (landscape phones, less than 768px)
-------------------------------------------------------------------
*/

@media (max-width: 767.98px) {
    .table-full-sm td,
    .table-full-sm th {
        padding: 30px 0 !important;
    }
    .timeline {
        grid-template-columns: 1fr 1fr;
    }
    body>header .breadcrumb {
        display: flex;
    }
    .media-box-full .caption h2 {
        font-size: 24px;
        line-height: 45px;
    }
    .media-box-full .caption .extra-field {
        font-size: 13px;
    }
    .slider-zoom-center .glide__slides {
        padding: 0 0 30px 0;
    }
    .slider-zoom-center:not(.slider-phones) .glide__slides .glide__slide--active,
    .section-map>.container {
        transform: none;
        box-shadow: none;
    }
    .tab-nav.align-center>li a {
        padding: 10px 30px 10px 30px;
    }
    .tab-nav.align-center>li+li a {
        margin: 15px 0 0 0;
    }
    .table-price {
        display: table;
    }
    .table-price thead {
        display: table-header-group;
    }
    .table-price tbody {
        display: table-row-group;
    }
    .table-price tr {
        display: table-row;
    }
    .table-price th,
    .table-price td {
        display: table-cell;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .table-grid td>img {
        width: 100%;
        max-width: 150px;
    }
    .section-map>.container {
        border: none;
    }
}


/*
Extra small devices (portrait phones, less than 576px)
-------------------------------------------------------------------
*/

@media (max-width: 575.98px) {
    .timeline {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    .btn-icon i {
        left: 18px;
    }
    .btn-icon.btn-sm:not(.btn-anima),
    .btn-icon.btn-sm.btn-anima:hover {
        padding-left: 55px;
    }
    .col-lg-6+.col-lg-6 .margin-23 {
        margin-left: 0px;
    }
    .margin-md-23,
    .col-lg-6+.col-lg-6 .margin-md-23 {
        margin: 0 -15px;
        max-width: calc(100% + 35px);
    }
    .text-lg {
        font-size: 40px !important;
        line-height: 60px;
    }
}

@media (max-width: 425px) {
    .counter-big.counter-icon>i {
        display: none;
    }
    body>header h1 {
        font-size: 40px;
    }
    body>header .container>h2 {
        font-size: 13px;
    }
    .themekit-envato {
        display: block;
    }
    .themekit-envato>div:first-child {
        margin-bottom: 30px;
        width: 100%;
    }
    .col-lg-6 form.boxed-area .form-checkbox {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 0;
        float: none;
        clear: both;
    }
    .btn-store+.btn-store {
        margin-left: 0;
        display: block;
    }
    .col-lg-6+.col-lg-6 .margin-11,
    .col-lg-6 .margin-11 {
        margin: 10px 0 0 -5px;
        max-width: calc(100% + 15px);
    }
    .margin-23 {
        margin-left: -10px;
    }
    .cnt-box-testimonials[class*=rating-]>p:not(.testimonial-info):before,
    .cnt-box-testimonials-bubble[class*=rating-]>.thumb-bar span:first-child:before {
        bottom: -22px;
    }
    .cnt-call i+.caption {
        padding-left: 0;
    }
    .cnt-call>i {
        position: static;
        transform: none;
        margin-bottom: 30px;
    }
}

.gradient {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)) i !important;
}


/* ICONOS INVISIBLES EN XL (Resolucion minima 1200px)*/

.d-none {
    display: none !important;
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }
    .d-xl-block {
        display: block !important;
    }
}